<header>
    <nav class="navbar container"> 
        <picture class="navbar__logo"><a href="../../index.html">
            <img src="../../img/branding/logo_light_horizontal.svg"  alt="Isologotipo de la marca Funkoshop"></a></picture>
            <ul class="navbar__menu">
                <li class="navbar__item"><a class="navbar__link" href="../../pages/shop.html">VER TIENDA</a></li>
                <li class="navbar__item"><a class="navbar__link" href="../../pages/admin/login.html">ADMIN</a></li>
                <li class="navbar__item"><a class="navbar__link" href="#">SALIR</a></li>
            </ul>
    </nav>
</header>  
<section class="container login__container">
        <h1 class="tbl__title">INGRESAR A MI CUENTA</h1>
        <form action="#" method="post" class="formulario">
            <div class="row">
            <label for="email" class="label__create__item">Email:</label>
        </div>
            <div>
            <input type="email"class="input__login" id="email" name="email" required placeholder="jhondeo@correo.com">
        </div>
        <div class="row">
            <label for="pass" class="label__create__item">Contraseña:</label>
        </div>
        <div>
            <input type="password" class="input__login" id="pass" name="pass" required placeholder="• • • • • •">
        </div>
        <div>
        <button type="submit" method="POST" class="btn-form btn-ingresar">Ingresar</button>
        </div>
        <div  class="div__recordarme">
            <label for="opcion1" class="label__recordarme">
                <input type="checkbox" id="opcion1" name="opciones" value="opcion1"> Recordarme
              </label>

        </div>
    </form>
        <a href="#" class="link__recover">Olvidé mi contraseña</a>
     

    </section>

<footer class="footer">
    <nav class="navbar container">
        <ul class="navbar__items">
            <li class="navbar__item"><a class="navbar__link" href="../shop.html">SHOP</a></li>
            <li class="navbar__item"><a class="navbar__link" href="../admin/register.html">REGISTRARSE</a></li>
            <li class="navbar__item"><a class="navbar__link" href="../admin/login.html">INGRESAR</a></li>
            <li class="navbar__item"><a class="navbar__link" href="../contact.html">CONTACTO</a></li>
        </ul>
        <picture><img src='../../img/branding/isotype.svg' alt='Isotipo Funkoshop' ></picture>
    </nav>
    <p class="footer__copy">All rights reserved 2023 - Funkoshop &copy;</p>
</footer>   
<script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script src="../../js/glide.js"></script>
<script src="../../js/index.js"></script>

